#wrapper
	#cr-stage
	#defender-controlls
		#selected-unit
			img(src="/images/placeholder.png", alt="enemy1")
		#attack-bar
			ul
				li#enemy1.enemy
					a(href="#")
						img(src="/images/enemy1.png", alt="enemy1")
				li#enemy2.enemy
					a(href="#")
						img(src="/images/enemy1.png", alt="enemy2")
				li#enemy3.enemy
					a(href="#")
						img(src="/images/enemy1.png", alt="enemy3")
				li#enemy4.enemy
					a(href="#")
						img(src="/images/enemy1.png", alt="enemy4")
				li#enemy5.enemy
					a(href="#")
						img(src="/images/enemy1.png", alt="enemy5")