!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascript/jquery-1.7.1.min.js')
		script(src='/javascript/jquery-ui-1.8.16.custom.min.js')
		script(src='/javascript/crafty-min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/game.js')
		script(src='/javascript/defender.js')
		script
			var hk = {};
		script(src='/javascript/game.js')
		script
			$(function() {
				var game = new hk.Game();
				game.init();
			})


	body!= body
