!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/defender.css')
		script(src='/javascript/jquery-1.7.1.js')
		script(src='/javascript/jquery-ui-1.8.16.custom.min.js')
		script(src='/javascript/crafty-min.js')
		script(src='/socket.io/socket.io.js')
		script
			var hk = {};
		script(src='/javascript/game.js')
		script(src='/javascript/defender.js')
		script
			$(function() {
				var game = new hk.Game();
				game.init();
			})
			function rand (min, max) {
				var args = arguments.length;
				if (args === 0) {
					min = 0;
					max = 32768;
					}
					return Math.floor( Math.random() * (max - min + 1) ) + min;
			}


	body!= body
