!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascript/jquery-1.6.3.min.js')
		script(src='/javascript/jquery-ui-1.8.16.custom.min.js')
		script(src='/javascript/crafty-min.js')
		script(src='/socket.io/socket.io.js')
		script
			var hk = {};
		script
			var socket = io.connect('http://localhost');
				socket.on('news', function (data) {
				console.log(data);
				socket.emit('my other event', { my: 'data' });
			});
		script(src='/javascript/game.js')

	body!= body