!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Schoolbell', type='text/css')
		script(src='/javascript/jquery-1.7.1.js')
		script(src='/javascript/jquery-ui-1.8.16.custom.min.js')
		script(src='/javascript/jquery.stopwatch.js')
		script(src='/javascript/crafty-min.js')
		script(src='/socket.io/socket.io.js')
		script
			var hk = {};
			var socket = io.connect();
		script(src='/javascript/game.js')
		script(src='/javascript/defender.js')
		script(src='/javascript/notifications.js')
		script
			$(function() {
				var game = new hk.Game();
				game.init();
			})

	body!= body
