body {
	background-color: #1F1F1F;
	margin: 0;
}

#game-wrapper {
	background: url(/images/ui.png);
	width: 1636px;
	height: 758px;
	margin-left: -818px;
	left: 50%;
	z-index: 100;
	position: absolute;
}

#cr-stage {
	position: absolute !important;
	margin-left: -765px;
	margin-top: 92px;
	left: 50%;
	background: url(/images/back_kitchen7.jpg) repeat-x;
}

#hidden-dropzone {
	position: absolute !important;
	width: 160px;
	height: 485px;
	margin-left: 1408px;
	margin-top: 139px;
	z-index: 200;
}

#role {
	margin-left: 629px;
	margin-top: 45px;
}

#sink {
	margin-left: -573px;
	margin-top: 693px;
}

#growth {
	margin-left: -261px;
	margin-top: 693px;
}

#timer {
	margin-top: 7px;
	margin-left: -630px;
}

#timer span,
#health span{
	font-size: 35px;
}

#health {
	margin-top: 54px;
	margin-left: -597px;
}

#role,
#sink,
#growth,
#timer,
#health {
	position: absolute;
	z-index: 110;
	left: 50%;
	font-family: 'Schoolbell', cursive;
	font-size: 30px;
	color: #683B21;
}

#notifications-wrapper {
	position: absolute;
	left: 50%;
	z-index: 1010;
	color: #683B21;
	width: 400px;
	height: 200px;
	margin-top: 300px;
	margin-left: -200px;
}

#notifications-wrapper .message {
	font-family: 'Schoolbell', cursive;
	font-size: 40px;
	font-weight: bolder;
	color: green;
}

#attack-bar {
	position: absolute;
	z-index: 110;
	width: 158px;
	height: 596px;
	top: 82px;
	left: 1600px;
}

#attack-bar .enemy {
	position: absolute;
	z-index: 110;
	left: 6px;
	width: 146px;
	opacity: 0.7;
}

#attack-bar .enemy.active {
	border: 2px #683B21 dashed;
}

#enemy1 {
	top: 26px;
	height: 83px;
}

#enemy2 {
	top: 120px;
	height: 83px;
}

#enemy3 {
	top: 216px;
	height: 93px;
}

#enemy4 {
	top: 320px;
	height: 93px;
}

#enemy5 {
	top: 430px;
	height: 127px;
}