body {
	background-color: #DDDDDD;
}

#cr-stage {
	position: absolute;
	border: 1px solid;
	box-shadow: 0px 0px 20px #000000;
	opacity: 1.0;
	float: left;
	background: url(/images/back_kitchen3.jpg) repeat-x;
}